* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-bg: #ffffff;
  --color-primary: #f5c518;
  --color-dark: #1a1a1a;
}

html {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}
